---
layout: people-layout
title: "People"
permalink: /people/
---
{% include base_path %}

<!-- {% for post in site.people reversed%}
  <div class="person">
    <a href="{{post.url | prepend: site.baseurl}}">
      {% if post.img %}
        <img src={{ "/images/" | prepend: site.baseurl | append: post.img }} alt="{{post.title}}">
      {% endif %}
    </a>
    <a href="{{post.url | prepend: site.baseurl}}">
      <div class="person_inner">
        <p class="person_number">{{post.date | date: '%Y'}}</p>
        <h3 class="person_title">{{post.title}}</h3>
      </div>
    </a>
  </div>
{% endfor %} -->
