---
layout: projects-layout
title: "Projects"
permalink: /project/
---
{% include base_path %}

<div style="width: 100%;
            text-align: center;
            font-size: 28px;
            font-weight: 600;
            margin-top: 20px;
            margin-bottom: 20px;
            align-items: center;">
CURRENT PROJECTS
</div>

<main class="page-content" aria-label="Content">
  <section class="Projects cf">
    <div class="wrapper-bef flex-row-bef">
      {% for post in site.project reversed%}
        <div class="project">
          <a href="{{post.url | prepend: site.baseurl}}">
            {% if post.img %}
              <img src={{ "/images/" | prepend: site.baseurl | append: post.img }} alt="{{post.title}}">
            {% endif %}
          </a>
          <a href="{{post.url | prepend: site.baseurl}}">
            <div class="project_inner">
              <p class="project_number">{{post.date | date: '%Y'}}</p>
              <h3 class="project_title">{{post.title}}</h3>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </section>
</main>


<div style="width: 100%;
            text-align: center;
            font-size: 28px;
            font-weight: 600;
            margin-top: 20px;
            margin-bottom: 20px;
            align-items: center;">
PAST PROJECTS
</div>

<main class="page-content" aria-label="Content">
  <section class="Projects cf">
    <div class="wrapper-bef flex-row-bef">
      {% for post in site.project-former reversed%}
        <div class="project">
          <a href="{{post.url | prepend: site.baseurl}}">
            {% if post.img %}
              <img src={{ "/images/" | prepend: site.baseurl | append: post.img }} alt="{{post.title}}">
            {% endif %}
          </a>
          <a href="{{post.url | prepend: site.baseurl}}">
            <div class="project_inner">
              <p class="project_number">{{post.date | date: '%Y'}}</p>
              <h3 class="project_title">{{post.title}}</h3>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </section>
</main>

