<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <title>BUSTLab - People</title>
  </head>

  <body>
    {% include masthead.html %}
    <div style="display: flex;
                flex-direction: row;
                justify-content: center;
                height: 60px;
                font-size: 28px;
                font-weight: 600;
                margin-top: 20px;
                align-items: center;">
      Director
    </div>

    <div style="display:flex;flex-direction:column;width:100%;">
        <center>
            <img src="/images/people/murat-celik.png" alt="Murat Celik" style="border-radius: 50%;width: 25%;min-width: 100px;">
        </center>
        <div style="width: 100%; text-align:center;margin-top: 15px;font-size: larger;font-weight: 600;">
            Prof. Murat Celik
        </div>
    </div>


    <div style="display: flex;
        flex-direction: row;
        justify-content: center;
        height: 60px;
        font-size: 28px;
        font-weight: 600;
        margin-top: 20px;
        align-items: center;">
    Current Members
    </div>

    <main class="page-content" aria-label="Content">
      <section class="chapters cf">
        <div class="wrapper-bef flex-row-bef">
          {{ content }}
        </div>
      </section>
    </main>


    <div class="page__footer">
      <footer>
        {% include footer.html %}
      </footer>
    </div>
    {% include scripts.html %}
  </body>
</html>