<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <title>BUSTLab - People</title>
  </head>

  <body>
    {% include masthead.html %}
    <div style="display: flex;
                flex-direction: row;
                justify-content: center;
                height: 60px;
                font-size: 28px;
                font-weight: 600;
                margin-top: 20px;
                align-items: center;">
      Director
    </div>

    <div style="display:flex;flex-direction:column;width:100%;">
        <center>
            <img src="/images/people/murat-celik.png" alt="Murat Celik" style="border-radius: 50%;width: 22%;min-width: 150px;">
        </center>
        <div style="width: 100%; text-align:center;margin-top: 15px;font-size: larger;font-weight: 600;">
            Prof. Murat Celik
        </div>
    </div>


    <div style="display: flex;
        flex-direction: row;
        justify-content: center;
        height: 60px;
        font-size: 28px;
        font-weight: 600;
        margin-top: 20px;
        align-items: center;">
    Current Members
    </div>

    <main class="page-content" aria-label="Content">
      <section class="people cf">
        <div class="wrapper-bef flex-row-bef">
          {% for post in site.people reversed%}
            <div class="person">
              <a href="{{post.url | prepend: site.baseurl}}">
                {% if post.img %}
                  <img src={{ "/images/" | prepend: site.baseurl | append: post.img }} alt="{{post.title}}">
                {% endif %}
              </a>
              <a href="{{post.url | prepend: site.baseurl}}">
                <div class="person_info">
                  <div class="person_title">{{post.title}}</div>
                  <div class="person_type">{{post.type}}</div>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </section>
    </main>

    <div style="display: flex;
        flex-direction: row;
        justify-content: center;
        height: 60px;
        font-size: 28px;
        font-weight: 600;
        margin-top: 20px;
        align-items: center;">
    Former Members
    </div>

    <main class="page-content" aria-label="Content">
      <section class="people cf">
        <div class="wrapper-bef flex-row-bef">
          {% for post in site.people-former reversed%}
            <div class="person">
              <a href="{{post.url | prepend: site.baseurl}}">
                {% if post.img %}
                  <img src={{ "/images/" | prepend: site.baseurl | append: post.img }} alt="{{post.title}}">
                {% endif %}
              </a>
              <a href="{{post.url | prepend: site.baseurl}}">
                <div class="person_inner">
                  <p class="person_number">{{post.date | date: '%Y'}}</p>
                  <h3 class="person_title">{{post.title}}</h3>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </section>
    </main>


    <div class="page__footer">
      <footer>
        {% include footer.html %}
      </footer>
    </div>
    {% include scripts.html %}
  </body>
</html>