<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <title>BUSTLab - Projects</title>
    <link rel="icon" href="/images/boun-logo.png" />
  </head>

  <body>
    {% include masthead.html %}
    <main class="page-content" aria-label="Content">
      <section class="Projects cf">
        <div class="wrapper-bef flex-row-bef">
          {{ content }}
        </div>
      </section>
    </main>
    <div class="page__footer">
      <footer>
        {% include footer.html %}
      </footer>
    </div>
    {% include scripts.html %}
  </body>
</html>
